.lrvs-button {
    color: var(--color-bg);
    background: var(--color-primary);
    border: none;
    height: 36px;
    font-size: var(--text-size-md);
    border-radius: 4px;
    padding: 0 20px;
    margin: 5px;
    cursor: pointer;
    width: auto;
    font-family: var(--font-primary)
}

.lrvs-button:hover {
    background: var(--color-primary-light);
}

.lrvs-button_plain {
    background: none;
    color: var(--color-primary);
    height: auto;
}

.lrvs-button_plain:hover {
    background: none;
    color: var(--color-primary-light);
}